.responsive {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-primary);
}

.responsive p {
    margin: auto;
    color: var(--text-primary);
}

.responsive.show {
    display: flex;
}
