:root {
    --bg-primary: #f6f6f6;
    --bg-secondary: #011731;
    --bg-tertiary: #DEBC60;

    --text-primary: #393B40;
    --text-secondary: #DEBC60;
    --text-tertiary: #9eacb8;

    --button-primary: #393B40;
    --button-secondary: #f6f6f6;

    --border-primary: #393B40;
    --border-secondary: #f6f6f6;
    --border-tertiary: #DEBC60;
}